.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  max-width: 50px;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}
