.user-list {
  background-color: $color-white;
}

.user-list__avatar {
  max-height: 5rem;
}

.user-list__table {
  width: 100%;
  border: .1rem solid $color-light-gray;
  border-collapse: collapse;

  td, th {
    padding: .5rem 2rem;
    border: .1rem solid $color-light-gray;
  }
}
