.active-user {
  width: 25rem;
  padding: 2rem;
  padding-top: 0;
}

.active-user__avatar {
  max-width: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active-user__stats {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: .1rem solid $color-light-gray;
  font-size: .9em;
}

.active-user__stat {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.active-user__title {
  font-weight: bold;
  text-transform: capitalize;
}
