.app {
  background-color: $color-wet-asphalt;
  min-height: 100vh;
  padding-top: 12rem;
}

.layout {
  @include center(100rem);

  display: flex;
  padding: 2rem;
  background-color: $color-white;
  border-radius: .3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}

.main {
  flex: 1;
}

.sidebar {
  margin-right: 3rem;
}
